/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.logo {
  width: 8vw;
  height: 10vh;
}

.top-image {
  background: image-url("top-image.jpg");
  height: 50vh;
  width: 50vw;
}

.w-60p {
  width: 60%;
}

.pd-15p {
  padding-top: 10%;
  padding-bottom: 10%;
}

.pd-5p {
  padding-top: 5%;
  padding-bottom: 5%;
}

.mr-3v {
  margin-top: 3vh;
  margin-right: 3vw;
}

.item-images {
  margin-top: 2vh;
  width: 9vw;
  height: 10vh;
}

.item-image {
  width: 20vw;
  height: 30vh;
}

.mr-3vw {
  margin-right: 3vw;
}

.m-auto {
  margin: 0 auto;
}

.topbtn {
  width: 20%;
}
